nav ul {
    justify-content: center;
}
/* larger.css */
/* Styles for screens wider than 768px (adjust breakpoint as needed) */
@media (min-width: 768px) {
    nav ul {
        text-align: center;
        flex-direction: row;
    }
    
    nav ul li {
        margin: 0 20px;
        font-size: 20px;
    }

    #hamburger-menu {
        display: none;
    }
}
